<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% comment %} css del leaflet {% endcomment %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />

    <style>
        #mapid {
            height: 400px;
            width: 600px;
        }
    </style>


    <title>Mapa</title>
</head>

<body>
    {% csrf_token %}

    <div id="mapid"></div>



</body>

{% comment %} javascript del leaflet {% endcomment %}
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

<script>
    {% autoescape off %}
    datos = {{ geo }}
    {% endautoescape %}

    console.log(datos)
    var mymap = L.map('mapid').setView([-25.29807590273343, -57.59930298053507], 10);

    L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=Rxa6eCNYkQOw43Wn9BFH', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'your.mapbox.access.token',
        crossOrigin: true
    }).addTo(mymap);


    var plano = new Array();
    var index = 0; //para recorrer la lista
    var lista_aux = new Array();
    for (index = 0; index < datos.length; index++) {
        //var ima= '<img src="' + datos[index].url + '"height=40% width=50% >';

        lista_aux = ['<h2>N°:' + datos[index].nombre + '</h2>' + '<h3>' + datos[index].responsable + ' ' + datos[index].apellido + "</h3>", datos[index].ubicacion.latitud, datos[index].ubicacion.longitud, datos[index].entregado];
        plano.push(lista_aux);// agregamos al array
    }


    for (var i = 0; i < plano.length; i++) {
        marker = new L.marker([plano[i][1], plano[i][2]])
            .bindPopup(plano[i][0])
            .addTo(mymap);

        if (plano[i][3]) // si es verdadero es por que se entrego
        {


            var circle = L.circle([plano[i][1], plano[i][2]], {
                color: 'green',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 3500
            }).addTo(mymap);
        }else{

            var circle = L.circle([plano[i][1], plano[i][2]], {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 3500
            }).addTo(mymap);
        }

    }






</script>

</html>