{% extends "layouts/base-login.html" %}

{% block title %} Login {% endblock %} 

{% block content %}
<link rel="stylesheet" href="static/css/logo.css">
  <div class="row">
    <div class="col col-login mx-auto">
      <div class="text-center mb-6">
        <img src="/static/assets/demo/brand/logo.png" alt=""><span class="titulo-logo">Ñaipytyvô</span>
      </div>
      
		<form class="card" action="/solicitud_login" method="post">
			{% csrf_token %}
			<div class="card-body p-6">
			  <div class="card-title text-center">
				{% if msg %}
				  {{ msg | safe }}
				{% else %}
				  Plataforma Experimental
				  <br />
				  <strong>para Gestión de Comunidades</strong>
				  <br />
				{% endif %}  
			  </div>
			  

			  <div class="form-label-group">
                <input type="text" name="username" class="form-control" placeholder="Usuario" required autofocus>              </div>

              <div class="form-label-group">
                <input type="password" name="password" class="form-control" placeholder="Password" required>
              </div>
			  <div class="form-group">
				<label class="custom-control custom-checkbox">
				  <input type="checkbox" class="custom-control-input" />
				  <span class="custom-control-label">Recordarme</span>
				</label>
			  </div>
			  <div class="form-footer">
				<button type="submit" name="login" class="btn btn-primary btn-block">Ingresar</button>
			  </div>
			  <br>
			  <!-- <b><p class="auth">¿Necesitás una cuenta?</p></b>
			  <div class="form-footer">
				<a href={% url 'register' %} class="btn btn-warning btn-block" role="button">Registrarme</a>
			  </div> -->
			</div>
		  </form>
		  
				<div class="text-center text-muted">
				  <b>Oñondivepa Ñaipytyvo</b> &copy; es una campaña de la <a href="https://fundacionnatan.org/"> Fundación Natán</a> y el
				  <a href="http://www.ieeeparaguay.org/acerca.html" >IEEE UNA SB Branch</a>
				  <br />
				  <!-- Código fuente <a href="#">disponible en GitHub.</a> -->
				</div>
			
			  </div>
			</div>
		  
		  {% endblock content %}
		  
		  <!-- Specific Page JS goes HERE  -->
		  {% block javascripts %}{% endblock javascripts %}
		  