<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Natanapp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/cargar-donacion.css">

<!-- agregamos la hamburguesa -->
<link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
<script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script src="https://cdn.jsdelivr.net/npm/@material/drawer@5.1.0/dist/mdc.drawer.min.js"></script>

</head>

{% block content %}

{% include 'layouts/slide-bar.html' %}

{% endblock content %}
	
<main class="main-content" style="overflow-x: hidden;" id="main-content">
	<div class="mdc-top-app-bar--fixed-adjust">
  <div class="row overflow-hidden">
    <div class="col col-login mx-auto">
      
			<div class="card" style="min-height: 43%; max-height: 450px;">
				<div class="card-title text-center mt-3">
					<h4>Plataforma Experimental
					<br />
					<strong>para Gestión de Comunidades</strong></h4>
				</div>
				<div class="card-body px-6 py-2 overflow-auto text-center">
					{% if msg %}
						<h5>{{ msg | safe }}</h5>
					{% else %}
						<table class="table table-striped overflow-scroll">
							<thead>
								<tr>
									<th scope="col">Articulo</th>
									<th scope="col">Donaciones</th>
									<th scope="col">Objetivo</th>
								</tr>
							</thead>
							<tbody>
								{% for articulo, cantidad in resultado.items %}
									<tr>
										<td> {{ articulo }} </td>
										<td> {{ cantidad }} </td>
										<td> - </td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
</main>



<script src="static/js/cargar-donacion.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>
 const drawer = mdc.drawer.MDCDrawer.attachTo(document.querySelector('.mdc-drawer'));

  const topAppBar = mdc.topAppBar.MDCTopAppBar.attachTo(document.getElementById('app-bar'));
  topAppBar.setScrollTarget(document.getElementById('main-content'));
  topAppBar.listen('MDCTopAppBar:nav', () => {
      drawer.open = !drawer.open;
  });



</script>

</body>
</html>